body {
  font-family: Verdana, Times, sans-serif;
}

header {
  width: auto;
  margin-top: o;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  top: 0;
  z-index: 0;
  padding: 20px;
  text-align: center;
  background-color: #7C4144;
  color: white;
}

nav {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #437ACA;
}

.salmonlogo {
  position: absolute;
  top: 17px;
  width: 175px;
  margin-left: 25%;
}

.highlights {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #41A3F1;
}

#background_index {
  margin: auto;
  background-image: url('images/pike_place_background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 15%;
}

background_sales {
  background-image: url('images/pike_place_background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#hoursandcookies{
  float: left;
  margin: 20px;
  border-radius: 25px;
  max-width: 200px;
  width: 25%;
  height: auto;
  background: rgba(240, 240, 240, 0.8);
  padding: 20px;
}

#homepage {
  margin: 20px;
  border-radius: 25px;
  max-width: 1920px;
  width: 25%;
  height:auto;
  background: #EFD6A8;
  padding: 5px;
  text-align: center;
}

#homepageinfo{
float: left;
margin: 20px;
border-radius: 25px;
max-width: 1920px;
width: 25%;
height:auto;
background: #EFD6A8;
padding: 10px;
}

h1 {
  font-family: Georgia;
  font-size: 20px;
  color: #D24847;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  margin: 0;
}

p {
  font-size: 16px;
  font-weight: normal;
}

.footer {
  clear: both;
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}
